<Elements xmlns="http://schemas.microsoft.com/sharepoint/">
    <Module Name="Tasks">
	       <File Url="Settings.aspx" Type="Ghostable">
               <AllUsersWebPart WebPartZoneID="TopZone" WebPartOrder="1">
                 <![CDATA[
			<webParts>
			<webPart xmlns="http://schemas.microsoft.com/WebPart/v3">
			   <metaData>
			      <type name="Microsoft.Office.Server.WorkManagement.UI.SettingsWebPart, Microsoft.Office.Server.WorkManagement.UI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" />
			      <importErrorMessage>Cannot import this Web Part.</importErrorMessage>
			   </metaData>
			   <data>
		   	      <properties>
			         <property name="ChromeType">None</property>
			      </properties>
			   </data>
			</webPart>
			</webParts>
                 ]]>
             </AllUsersWebPart>   
         </File>
	</Module>
</Elements>
