.topArea
{
background:none;
}
.topNavContainer
{
background-image:url("images/bl_Navbar_Default_Glass.jpg");
}
.topNavItem
{
color:#3A4663;
background-image:url('images/bl_Navbar_Splitter_Glass.jpg');
}
.topNavSelected a
{
background-image:url('images/bl_Navbar_Hover_Glass.jpg');
}
.topNavHover a
{
background-image:url('images/bl_Navbar_Hover_Glass.jpg');
}
.topNavRoundLeft
{
width:14px;
*position:relative;
*right:-1px;
background-image:url('images/bl_Navbar_Left.jpg');
background-repeat:no-repeat;
}
.topNavRoundRight
{
width:15px;
background-image:url('images/bl_Navbar_Right.jpg');
background-repeat:no-repeat;
}
.title-With-Background
{
background-color:#5E6E9E;
}
.glassSpacerLeft
{
width:14px
}
.glassSpacerRight
{
width:15px
}
