/* _lcid="1033" _version="15.0.4420"
_LocalBinding */
/* Lyon alternate CSS - modify this file to tweak the current design
Below are some samples to get you started - remove comments to activate the styles */
/* HEADER BACKGROUND
#titlerow{
background-color:rgba(0,0,0,0.9);
}
*/
/* SITE TITLE
.ms-core-pageTitle a{
color:white;
font-size:40px;
font-family:Tahoma;
}
*/
/* SITE LOGO
.ms-siteicon-img{
height:40px;
}
*/
/* CONTENT AREA
.ms-pub-contentLayout{
background-color:rgba(255,255,255,1.0);
}
*/
/* NAVIGATION - FONT
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item,
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenuEdit,
.ms-core-listMenu-heading,.ms-tv-header{
font-size:18px;
font-family:Tahoma;
}
*/
/* NAVIGATION - HOVER BACKGROUND COLOR
li > a.ms-core-listMenu-item.ms-core-listMenu-selected:hover,
li > a.ms-core-listMenu-item:hover,
li > a.ms-core-listMenu-item:active{
background-color:rgba( 255,255,255,1.0 );
}
*/
/* NAVIGATION - LINE STYLE
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item{
border-bottom:solid 1px;
border-bottom-color:rgba( 0,0,0,1.0 );
}
*/
/* FOOTER
#footer{
background-color:rgba(255,255,255,1.0);
}
*/
/* FULL PAGE LAYOUT
.fullPageLayout{
background-color:rgba(255,255,255,1.0);
}
*/
/* FULL PAGE LAYOUT - TARGET INDIVIDUAL PAGE USING PAGE NAME (POSSIBLE FOR ALL LAYOUTS)
.fullPageLayout-Home{
background-color:rgba(255,255,255,1.0);
}
*/
/* TWO-COLUMN LAYOUT
.twoColumnLayout-left,.twoColumnLayout-right{
background-color:rgba(255,255,255,1.0);
}
*/
/* LEFT SIDEBAR LAYOUT
.twoColumnLeftLayout-right,.twoColumnLeftLayout-left{
background-color:rgba(255,255,255,1.0);
}
*/
/* RIGHT SIDEBAR LAYOUT
.twoColumnRightLayout-left,.twoColumnRightLayout-right{
background-color:rgba(255,255,255,1.0);
}
*/
/* TWO-COLUMN HEADER LAYOUT
.twoRowTwoColumn-top,.twoRowTwoColumn-bottomLeft,.twoRowTwoColumn-bottomRight{
background-color:rgba(255,255,255,1.0);
}
*/
